*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contaner{
    max-width: 1300px;
    margin: 0 auto;
}
.apply_box{
    max-width: 600px;
    padding: 30px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgba(16, 148, 137, 0.2);
    border-radius: 10px;
}
.tittle_span{
    font-size: 20px;
    
}
.form_control{
  display: flex;
  flex-direction: column;
}
.form_contaner{
    margin-top: 20px;
}
label{
    font-size: 20px;
    margin-bottom: 5px;
}
input,
select,
textarea{
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 15px;
}
input:focus{
    outline-color: rgb(94, 227, 231);
}
.button{
  background-color: rgb(240, 15, 15);
  border: transparent solid 2px;
  padding: 5px 10px;
  color: antiquewhite;
  border-radius: 4px;
  justify-content: end;
  transition: all;
}
.button:active{
    background-color: rgb(12, 185, 12);
    transition:0.01s ease-out ;
}
textarea {
    width: 560px;
    height: 130px;
    resize: none; /* Textarea ko resize hone se rokna */

  }
  input::placeholder{
    font-size: 15px;
    padding-left: 10px;
  }
  textarea::placeholder{
    font-size: 15px;
    padding-left: 10px;
  }
  .ali::placeholder{
    font-size: 15px;
    padding-left: 10px;
  }
  input::placeholder, textarea::placeholder {
    color: #aaa;
  }
  body{
    background-image: url("https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?cs=srgb&dl=pexels-padrinan-255379.jpg&fm=jpg");
    background-size: cover;
  }