*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Popins', sans-serif;
}
:root{
    --p-color:#777;
}
header{
position: fixed;
height: 80px;
width: 100%;
padding: 2px 20px;
z-index: 100;

}
nav{
    max-width: 1100px;
    width: 100%;
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.nav-item{
    display: flex;
    gap: 40px;
    font-size: 20px;
}
.nav-item a,
button,
.nav-logo{
    color: #fff;
}
.nav-logo{
    font-size: 25px;
}
.nav-link:hover{
    columns: #fff;;
}
button{
    padding: 6px 24px;
    border: 2px solid #fff;
    background: transparent;
    border-radius: 6px;
    cursor: pointer;
    transition: all ease .50s;
}
.home{
position: relative;
height: 100vh;
width: 100%;
background-image: url(images/img1.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
.home::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: all ease .50s;
}
.home.show::before{
    opacity: 1;
    pointer-events: auto;
}
button:hover{
    transform: scale(1.1);
}
.form-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    z-index: 101;
    box-shadow: rgba(0,0,0,0.1);
    max-width: 320px;
    width: 100%;
    padding: 25px;
    opacity: 0;
     pointer-events: none;  
    transition: all ease-in-out.50s;
   /* display: inline-block;
   flex-direction: column;
   align-items: center;
   align-self: center;
   justify-content: center;
   position: relative;
   top:50%;
   left: 44%; */
   background: #fff;
   border-radius: 12px;
}
.signup-form{
    display: none;
}
.form-container.active .signup-form{
display: block;
}
.form-container.active .login-form{
    display: none;
    }
 .home.show .form-container{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}
.form-close{
    position: absolute;
    top: 10px;
    right: 20px;
    color: #0b0217;
    font-size: 22px;
    opacity: 0.7;
    cursor: pointer;
}
.form-container h2{
    font-size: 22px;
    color: #0b0217;
    text-align: center;
}
.input-box{
    margin-top: 30px;
    position: relative;
    width: 100%;
    height: 40px;
}
.input-box input{
    height: 100%;
    width: 100%;
    border: none;
    border-bottom: 1.5px solid #aaaaaa;
    outline: none;
    padding: 0 30px;
    transition: all ease .50s;
}
.input-box input:focus{
    border-color: #7d2ae8;
}
.input-box input:focus ~ i.email,
.input-box input:focus ~ i.fa-key{
    color: #7d2ae8;
}
.input-box i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.input-box i.email,
.input-box i.fa-key{
left: 0;
}
.input-box i.fa-eye-slash{
    right: 0;
    font-size: 18px;
    cursor: pointer;
}
.option-field{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.check-box{
display: flex;
white-space: nowrap;
gap: 8px;
font-size: 16px;

}
.form-container a{
    color: #7d2ae8;
    font-size: 16px;
}
.check-box input{
    accent-color: #7d2ae8;
}
.check-box label{
    color: #0b0217;
    cursor: pointer;
    font-size: 12px;
    user-select: none;
}
.btn-2{
    background-color: #7d2ae8;
    margin-top: 30px;
    width: 100%;
    padding: 12px 0;
    border-radius: 10px;
}
.login-signup{
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
}
.signup-form{
    display: none;
}